
{% extends "default.twig" %}
{% block title %}Stránka nenalezena{% endblock %}

{% block content %}
    <div class="hero-unit center">
        <h1>Stránka nenalezena <small><font face="Tahoma" color="red">Error 404</font></small></h1>
        <br />
        <p>Stránka kterou se snažíte zobrazit nebyla nalezena. Buď-to byla smazána, nebo lezete kam nemáte!</p>
        <p><b>Stiskněte toto magické tlačítko pro návrat na hlavní stránku:</b></p>
        <a href="/" class="btn btn-large btn-info"><i class="icon-home icon-white"></i> Vem mě zpět domů</a>
    </div>
{%endblock%}