
{% extends "default.twig" %}
{% block title %}{{article.nadpis}}{% endblock %}

{% block content %} 
<article>
    <div class="comments ">
        <div class="social big">
            <a class="fb-share" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{url|url_encode}}&amp;id={{article.id}}-{{article.nadpis|url_encode}}"><i class="fa fa-facebook-square fb"></i></a>
            <div class="g-plus" data-action="share" data-annotation="none" data-height="24"></div>
            <a class="twitter-share-button"
               href="https://twitter.com/share">
            </a>

        </div>
        <div class="clearfix"></div>
        <div id="rat-text-hm" style="float:right;">
            <div  id="stars-existing" class="starrr" data-article="{{article.id}}" data-rating='{{ratings|round}}'></div>
            <span id="str-cnt">{{ratings|round(2, 'floor')}}</span>
        </div>
    </div>

    <h1>{{article.nadpis}}</h1> 


    <h4 class="autor"><i class="fa fa-user"></i> {% if article.username == null%}Neznámý{%else%}{{article.username}}{%endif%}</h4>
    <span class="details">
        <span><i class="fa fa-calendar"></i>{{article.date|date('d.m.Y h:m' )}}</span>
        <span><i class="fa fa-tag"></i>
            {% for tag in tags %}
                <a href="index.php?p=tag&amp;tag={{tag.id}}-{{tag.nazev}}">{{tag.nazev}}{% if loop.first %},{% elseif loop.last %}{%else%},{% endif %}</a>
            {% endfor %}
        </span>

    </span>

    <div class="content">
        {{article.text|raw}}
    </div>
    <hr>

    <h3>Komentáře <small>{{article.cmntcount}}</small></h3>
    <div class="komenty">
        <div class="headingg">
            {% if logged is not empty %}
                <div >
                    <p>Nový komentář</p>
                    <form action="" method="post">
                        <textarea placeholder="Uživatel:  {{logged}}" name="comment[text]" rows="2" class="form-control" ></textarea>
                        {#                    <input placeholder="Uživatel:  {{logged}}"  class="form-control" type="text" name="comment[text]" >#}
                        <input  class="btn btn-default preview-add-button" type="submit" name="comments" value="Okomentovat">
                    </form>
                </div>
            {% else%}
                <div class="alert alert-info">Pro komnentování se přihlašte</div>
            {% endif %}
        </div>
        <div class="clearfix"></div>
        <div clas="row true-comm">
            {% for comment in comments%}
                <div class="koment">
                    <p><i class="fa fa-user"></i>{% if comment.username == null%}Neznámý{%else%}{{comment.username}}{%endif%}<span>{{comment.date}}</span></p>
                    {% if comment.uzivatele_id == idgged %}
                        <a href="index.php?p=article&amp;id={{article.id}}&amp;signal=kdelete&amp;kid={{comment.id}}">Smazat!</a>
                    {% endif %}

                    <span>
                        {% if logged is not empty %}
                            <span {% if komentsModel.userHasComment(idgged,comment.id) == -1%}class="down"{%endif%} id="rat-up" data-user="{{idgged}}" data-koment="{{comment.id}}" href="#"><i class="fa fa-thumbs-o-down"></i></span>
                            <span class="ratview">{%if comment.rating is null%}0{%else%}{{comment.rating}}{%endif%}</span>
                            <span {% if komentsModel.userHasComment(idgged,comment.id) == 1%}class="up"{%endif%} id="rat-down" data-user="{{idgged}}" data-koment="{{comment.id}}" href="#"><i class="fa fa-thumbs-o-up"></i></span>
                            {% else%}
                            <span class="ratview">{%if comment.rating is null%}0{%else%}{{comment.rating}}{%endif%}</span>
                        {% endif %}
                    </span>

                    <p>{{comment.text}}</p>
                </div>

            {% endfor %}
        </div>
    </div>
</article>
{%endblock%}