<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>{%block title %}{%endblock%} | School-Blog</title>
        <link href="vendor/fortawesome/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet/less" type="text/css" href="public/style/style.less"/>
        <link rel="stylesheet" href="vendor/components/jqueryui/themes/base/all.css"/>
        <script src="vendor/components/jquery/jquery.min.js"></script>
        <script src="vendor/components/jqueryui/jquery-ui.min.js"></script>
        <script src="vendor/ckeditor/ckeditor/ckeditor.js" type="text/javascript"></script>
        <script src="public/js/less.js" type="text/javascript"></script>
        <script src="vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
        {#        Bootstrap-validator   #} 
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css"/>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"></script>
        {#        Custom js     #}
        <script src="public/js/script.js" type="text/javascript"></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>

        <script type="text/javascript">
            window.twttr = (function (d, s, id) {
                var t, js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {
                    return
                }
                js = d.createElement(s);
                js.id = id;
                js.src = "https://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
                return window.twttr || (t = {_e: [], ready: function (f) {
                        t._e.push(f)
                    }})
            }(document, "script", "twitter-wjs"));
        </script>

    </head>
    <body>
        <div class="container">
            <div class="heading">
                <a href="index.php">
                    <div class="header-text col-md-12">
                        <h1>School <i class="fa fa-heart"></i> project
                        </h1>
                    </div>
                </a>
            </div>
            <div class="menu">
                <div class="left col-md-4">
                    {% if user == true %}
                        <a {% if page == "newa" %}class="active"{%endif%} href="?p=usercp"><h4>Nový příspěvek</h4></a>
                        <a {% if sekce == "prehled" %}class="active"{%endif%} href="?p=usercp&amp;action=prehled"><h4>Mé příspěvky</h4></a>
                    {% endif %}
                </div>
                <div class="right col-md-4">    
                    {% if user == false %}
                        <a {% if page == "login" %}class="active"{%endif%}  href="?p=login"><h4>Přihlásit</h4></a>
                        <a {% if page == "register" %}class="active"{%endif%}  href="?p=login&amp;action=register"><h4>Registrovat</h4></a>
                    {% else %}
                        Přihlášen jako : {{user}}
                        <a  href="?p=login&amp;action=logout"><h4>Odhlásit</h4></a>
                    {% endif %}
                </div>

            </div>
            <div class="content col-md-8">
                {% if messages != "" %}
                    <div style="margin-top:10px;" class="row">
                        <div class="alert alert-warning alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            {{messages|raw}}
                        </div>
                    </div>
                {%endif%}
            {% block content %}{%endblock%}
        </div> 
        <aside class="col-md-4">

            <article>
                <h2>Tagy</h2>
                {% for tag in alltags %}
                    {% if tag.cetnost != 0 %}
                        <a style="font-size:{{10+ (tag.cetnost)*4}}px;" href="index.php?p=tag&amp;tag={{tag.id}}-{{tag.nazev}}">{{tag.nazev}}</a>&nbsp;
                    {%endif%}
                {% endfor %}
            </article>
            <hr>
            <article>
                <h2>Nejkomentovanější</h2>
                <table style="width: 100%;">
                    {% for article in topcommented %}
                        <tr>
                            <td><a href="index.php?p=article&amp;id={{article.id}}-{{article.nadpis|url_encode}}">{{article.nadpis}}</a></td>
                            <td><span><i class="fa fa-comment-o"></i>{{article.cmntcount}}</span></td>
                        </tr>
                    {% endfor %}
                </table>
            </article>
            <hr>
            <article>
                <h2>Nejlépe hodnocené</h2>
                <table style="width: 100%;">
                    {% for article in toprated %}
                        <tr>
                            <td><a href="index.php?p=article&amp;id={{article.id}}-{{article.nadpis|url_encode}}">{{article.nadpis}}</a></td>
                            <td><span>{{article.rating|round(2,"floor")}}</span></td>
                        </tr>
                    {% endfor %}
                </table>
            </article>
        </aside>
        <div class="clearfix"></div>
        <footer>
            <div class="footer_sy">
                <h5><small><i class="fa fa-quote-left"></i></small>
                    Developed &amp; designed by 
                    <small> <i class="fa fa-quote-right"></i></small>
                    <br>
                    <a target="_blank" href="http://progresak.cz/">
                        Lukáš Kratochvíl
                    </a>
                </h5>

            </div>
        </footer>

    </div>

</body>
</html>