
{% extends "default.twig" %}
{% block title %}Domovská stránka{% endblock %}

{% block content %}
    {% for article in articles %}

        <article class="one ">
            <a href="?p=article&amp;id={{article.id}}-{{article.nadpis|url_encode}}"><h1>{{article.nadpis}}</h1></a>
            <h4 class="autor">
                <span class="fa fa-user"></span> {% if article.username == null%}Neznámý{%else%}{{article.username}}{%endif%}
            </h4>
            <div class="details">
                <span><i class="fa fa-calendar"></i>{{article.date|date('d.m.Y')}}</span>
                <span><i class="fa fa-tag"></i>
                    {% for tag in tagModel.articleTags(article.id)%}
                        <a href="index.php?p=tag&amp;tag={{tag.id}}">{{tag.nazev}}{% if loop.first %},{% elseif loop.last %}{%else%},{% endif %}</a>
                    {%endfor%}

                </span>
                <span><i class="fa fa-star-half-full"></i>{{article.rating|round(2,"floor")}}/5</span>

            </div>
            <div class="content-blw fadeout">
                {{article.text|raw}}
            </div>
            <div class="comments">
                <a href="?p=article&amp;id={{article.id}}-{{article.nadpis|url_encode}}"><span>{{ article.cmntcount }} </span> <i class="fa fa-comment-o"></i> <span>komentů</span></a>
            </div>
        </article>
    {% endfor %}
    <div class="paginator">{{paginator|raw}}</div>
{%endblock%}