
{% extends "default.twig" %}
{% block title %}Přihlášení{% endblock %}

{% block content %}
    <h1>Přihlášení</h1>
    <br>

    <div class="col-md-6">
        <div class="well">
            <form id="loginForm" method="POST" action="" novalidate="novalidate">
                <div class="form-group">
                    <label for="username" class="control-label">Nick</label>
                    <input type="text" class="form-control" id="username" name="log[username]" value="" required="" title="Prosím vyplňte vaše přihlašovací jméno" placeholder="Uzivatelske jmeno">
                    <span class="help-block"></span>
                </div>
                <div class="form-group">
                    <label for="password" class="control-label">Heslo</label>
                    <input type="password" class="form-control" id="password" name="log[password]" value="" required="" title="Prosím, vyplňte vaše heslo" placeholder="Heslo">
                    <span class="help-block"></span>
                </div>
                <div id="loginErrorMsg" class="alert alert-error hide">Wrong username og password</div>

                {% if messages != "" %}
                    <div class="alert alert-danger">{{ messages|raw}}</div>
                {% endif %}
                <button type="submit" name="login" class="btn btn-success btn-block">Přihlásit</button>
            </form>   
        </div>

    </div>
    <div class="alternative_log col-md-6">
        <h5>Nemáte účet?</h5>
        <a href="?p=login&amp;action=register" class="btn btn-warning btn-block">Registrace</a>
        <h5>Sociální sítě</h5>

        <a href="{{facebookLogin}}" class="btn btn-block btn-social btn-facebook">
            <i class="fa fa-facebook"></i>  Přihlásit přes facebook
        </a>

    </div>
{%endblock%}