
{% extends "default.twig" %}
{% block title %}Registrace{% endblock %}

{% block content %}
    <h1>Registrace</h1>
    <br>


    <div class="login col-md-6">
        <h4>Bežná registrace</h4>
        <div class="well">
            <form id="registerForm" method="POST" action="" novalidate="novalidate">
                <div class="form-group">
                    <label for="username" class="control-label">Nick</label>
                    <input type="text" class="form-control" id="username" name="reg[username]" value="" required="" title="Prosím vyplňte vaše přihlašovací jméno" placeholder="Uživatelské jméno">
                    <span class="help-block"></span>
                </div>
                <div class="form-group">
                    <label for="username" class="control-label">Email</label>
                    <input type="email" class="form-control" id="username" name="reg[email]" value="" required="" title="Prosím vyplňte vaše přihlašovací jméno" placeholder="Váš email">
                    <span class="help-block"></span>
                </div>
                <div class="form-group">
                    <label for="password" class="control-label">Heslo</label>
                    <input type="password" class="form-control" id="password" minlength="6" name="reg[password]" value="" required="" title="Prosím, vyplňte vaše heslo" placeholder="Heslo">
                    <span class="help-block"></span>
                </div>
                <div class="form-group">
                    <label for="password" class="control-label">Heslo znovu</label>
                    <input type="password" class="form-control" id="password" minlength="6" name="reg[password2]" value="" required="" title="Prosím, vyplňte vaše heslo" placeholder="Heslo pro kontrolu">
                    <span class="help-block"></span>
                </div>
                <br>
                {% if messages != "" %}
                    <div class="alert alert-danger">{{ messages|raw}}</div>
                {% endif %}
                <br>
                <button type="submit" name="register" class="btn btn-success btn-block">Registrovat</button>
            </form>   
        </div>
    </div>
    <div class="alternative_log col-md-6">
        <h4>Založit účet přes facebook</h4>

        <a href="{{facebookLogin}}" class="btn btn-block btn-social btn-facebook">
            <i class="fa fa-facebook"></i> Přihlásit přes facebook
        </a>



    </div>
{%endblock%}