
{% extends "default.twig" %}
{% block title %}Články s tagem {{tag.nazev}}{% endblock %}

{% block content %}
    <h1>
        Články s tagem : <strong>{{tag.nazev}}</strong>
    </h1>
    <hr>
    {% for article in articles %}

        <article>

            <a href="?p=article&amp;id={{article.id}}-{{article.nadpis|url_encode}}"><h1>{{article.nadpis}}</h1></a>
                    {#        <a href="{{article.user_id}}"></a>#}
            <h4 class="autor"><i class="fa fa-user"></i> {% if article.username == null%}Neznámý{%else%}{{article.username}}{%endif%}</h4>
            <span class="details">
                <span><i class="fa fa-calendar"></i>{{article.date|date('d.m.Y')}}</span>
                <span><i class="fa fa-tag"></i>
                    {% for tag in tagModel.articleTags(article.id)%}
                        <a href="index.php?p=tag&amp;tag={{tag.id}}-{{tag.nazev}}">{{tag.nazev}}{% if loop.first %},{% elseif loop.last %}{%else%},{% endif %}</a>
                    {%endfor%}


                </span>
                <span><i class="fa fa-star-half-full"></i>{{article.rating|round(2,"floor")}}/5</span>
                <div class="starRate">
                    <div><b></b></div>
                    <ul>
                        <li><a href="#"><span>5</span></a></li>
                        <li><a href="#"><span>4</span></a></li>
                        <li><a href="#"><span>3</span><b></b></a></li>
                        <li><a href="#"><span>2</span></a></li>
                        <li><a href="#"><span>1</span></a></li>
                    </ul>
                </div>
                <div class="content-blw">
                    {{article.text|raw}}
                </div>
                <hr>
                <div class="comments">
                    <a href="?p=article&amp;id={{article.id}}-{{article.nadpis|url_encode}}"><span>{{ article.cmntcount }} </span> <i class="fa fa-comment-o"></i> <span>komentů</span></a>

                    <div class="social">
                        <a href="#"><i class="fa fa-facebook-square fb"></i></a>
                        <a href="#"><i class="fa fa-google-plus-square gp"></i></a>
                        <a href="#"><i class="fa fa-twitter-square tw"></i></a>
                    </div>
                </div>
        </article>
    {% endfor %}
{%endblock%}