
{% extends "default.twig" %}
{% block title %}Uživatelský panel{% endblock %}

{% block content %}
    <script>
        $(function () {
            var tagy = [{{tagy|raw}}];
            function split(val) {
                return val.split(/,\s*/);
            }

            function extractLast(term) {
                return split(term).pop();
            }

            $(".tagy-autocomplete")
                    // don't navigate away from the field on tab when selecting an item
                    .bind("keydown", function (event) {
                        if (event.keyCode === $.ui.keyCode.TAB &&
                                $(this).autocomplete("instance").menu.active) {
                            event.preventDefault();
                        }
                    })
                    .autocomplete({
                        minLength: 0,
                        source: function (request, response) {
                            // delegate back to autocomplete, but extract the last term
                            response($.ui.autocomplete.filter(
                                    tagy, extractLast(request.term)));
                        },
                        focus: function () {
                            // prevent value inserted on focus
                            return false;
                        },
                        select: function (event, ui) {
                            var terms = split(this.value);
                            // remove the current input
                            terms.pop();
                            // add the selected item
                            terms.push(ui.item.value);
                            // add placeholder to get the comma-and-space at the end
                            terms.push("");
                            this.value = terms.join(", ");
                            return false;
                        }
                    });
        });</script>

    {% if sekce == "new"%}
        <h3>Nový článek</h3>
        {% if messages != "" %}
            <div class="alert alert-danger">{{ messages|raw}}</div>
        {% endif %}
        <form id="newArticleForm" action="" method="post">

            <div class="form-group">
                <label for="article[nadpis]" class="control-label"></label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-header"></i></span>
                    <input value="{{article.nadpis}}" type="text" class="form-control" name="article[nadpis]" value="" required="" title="Vyplnte nadpis" placeholder="Nadpis">
                </div>
                <span class="help-block"></span>
            </div>
            <br>
            <div class="form-group">
                <label for="article[text]" class="control-label"></label>
                <textarea id="text-article"  name="article[text]" class="form-control" rows="3">{{article.text}}</textarea>
                <span class="help-block"></span>
            </div>

            <br>
            <div class="form-group">
                <label for="article[tags]" class="control-label"></label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-tag"></i></span>
                    <input name="article[tags]" value="{%for tag in tags%}{{tag.nazev}}{% if loop.first %},{% elseif loop.last %}{%else%},{% endif %}{% endfor %}"
                           type="text" class="tagy-autocomplete form-control" placeholder="Tagy.. sex,drogy,rcknrol">
                    <span class="help-block"></span>

                </div>
                <span class="help-block"></span>
            </div>
            <input style="float:right" name="newarticle" type="submit" value="Vytvořit" class="btn btn-default">

        </form>
    {% elseif sekce == "prehled" %}
        <h2>Mé příspěvky</h2>
        <p>Celkem příspěvků: {{myArticles|length}}</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Nadpis</td>
                    <td>Datum</td>
                    <td>Hodnocení</td>
                    <td>Akce</td>
                </tr>
            </thead>
            <tbody>
                {% for article in myArticles %}
                    <tr>
                        <td><a href="?p=article&amp;id={{article.id}}">{{article.nadpis}}</a></td>
                        <td>{{article.date|date('d.m.Y h:m')}}</td>
                        <td>{{article.rating|round(2,"floor")}}/5</td>
                        <td><a onClick="return confirm('Opravdu smazat příspěvek - {{article.nadpis}} ? ')" href="?p=usercp&amp;action=prehled&amp;signal=smazat&amp;id={{article.id}}">Smazat</a> - <a href="?p=usercp&amp;signal=upravit&amp;id={{article.id}}">Upravit</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif%}
    <script>
        CKEDITOR.replace('article[text]');
    </script>
{%endblock%}